statsmodels in ./anaconda3/lib/python3.9/site-packages (0.13.2)
packaging>=21.3 in ./anaconda3/lib/python3.9/site-packages (from statsmodels) (21.3)
pandas>=0.25 in ./anaconda3/lib/python3.9/site-packages (from statsmodels) (1.4.4)
patsy>=0.5.2 in ./anaconda3/lib/python3.9/site-packages (from statsmodels) (0.5.2)
numpy>=1.17 in ./anaconda3/lib/python3.9/site-packages (from statsmodels) (1.21.5)
pyparsing!=3.0.5,>=2.0.2 in ./anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels) (3.0.9)
python-dateutil>=2.8.1 in ./anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
pytz>=2020.1 in ./anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2022.7)
six in ./anaconda3/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
